/* wanas-start */
* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: var(--main-font-family);

}

:root {
    --main-color        : #4c4d4d;
    --secondary-color   : #252b33;
    --section-padding   : 60px;
    --section-background: #f6f6f6;
    --main-font-family  : 'poppins';
}

body {
    background-color: #f8f9fa;
}

.home {
    background-image   : url(images/intro-bg.jpg);
    background-position: center center;
    background-size    : cover;
    height             : 100vh;

}

.darker {
    background-color: rgba(14, 14, 14, 0.765);
    background-size : cover;
    height          : 100vh;
    width           : 100%;
    position        : absolute;

}

.navbar {
    padding-top: 20px;
    height     : 50px;

}

.navbar ul {
    list-style    : none;
    padding-left  : 300px;
    position      : absolute;
    display       : flex;
    flex-direction: row;
}

.navbar ul a {
    text-decoration: none;
    padding        : 0 20px 0 20px;
    color          : #fafafae6;
    float          : left;

}

.navbar ul a:hover {
    color: #20c997;
}

.navbar img {
    width       : 120px;
    height      : 27px;
    padding-left: 30px;
    float       : left;
    position    : absolute;
}

.hometext {
    display        : flex;
    height         : 85vh;
    width          : 100%;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    color          : #ffffff;
    position       : absolute;
}

.hometext .homep1 {
    font-size: 28px;
}

.hometext h2 {
    font-size: 64px;
}

.hometext .homep2 {
    font-size: 21px;
}

.hometext button {
    margin-top      : 30px;
    padding         : 0.8rem 2.6rem;
    font-weight     : 500;
    font-size       : 16px;
    border-radius   : 25px;
    background-color: rgba(255, 235, 205, 0);
    color           : #20c997;
    border-color    : #20c997;
    transition      : 1s;
}

.hometext button:hover {
    background-color: #20c997;
    color           : #f6f6f6;
}
/* wanas-end */
