.item{
    width: 50%;
    float: left;
    }
    .image{
        width: 80%;
        padding:60px 80px;
    }
    h3{
        text-align: center;
        padding: 50px 40px 0 40px;
    font-weight: bold;
    font-size: 40px;
    font-family:  sans-serif,monospace;
    }
    p{
        color: #686868;
        text-align: center;
        font-size: 20px;
        font-family:sans-serif,monospace;
    }
    h4{
        color: #686868;
        font-size: 20px;
        font-family:  sans-serif,monospace;
        font-weight: normal;
        margin-bottom: 20px;
    }

