/* wanas-start */
.wanas{
    background-color: black;
    color: aliceblue;
}
/* wanas-end */

/* Aboelkhair-start */
.Aboelkhair{
background-color: dodgerblue;
color: darkblue;
}
/* Aboelkhair-End */